---
{# MACRO FOR UPPERCASE INTERFACES #}
{% macro upper_first_letter(text) -%}
    {{ text[0]|upper}}{{text[1:] }}
{%- endmacro %}
{# GENERAL PARAMS #}
hostname: {{ host }}
router_id: {{ host.data.loopbacks[0].ip }}
role: {{ host.data.role }}
{# MLAG DATA FOR LEAF #}
{% if host.data.mlag is defined and host.data.role == "leaf" %}
mlag:
  domain: {{ host.data.mlag.domain }}
  peer_ip: {{ host.data.mlag.peer_ip }}
  l3_ip: {{ host.data.mlag.address }}
{% endif %}
{# INTERFACES #}
interfaces:
{% for interface in host.data.portchannels %}
  {{ interface.interface }}:
{%  if interface.vlan is defined %}
    vlan: {{ interface.vlan }}
{%  endif %}
{%  if interface.mlag is defined %}
    mlag: {{ interface.mlag }}
{%  endif %}
{%  if interface.role is defined %}
    role: {{ interface.role }}
{%  endif %}
{% endfor %}
{% for interface in host.data.interfaces %}
  {{ upper_first_letter(interface.interface) }}:
{%  if interface.vrf is defined %}
    vrf: {{ interface.vrf }}
{%  endif %}
{%  if interface.address is defined %}
    address: {{ interface.address }}
{%  endif %}
{%  if interface.vlan is defined %}
    vlan: {{ interface.vlan }}
{%  endif %}
{%  if interface.lag_id is defined %}
    lag: {{ interface.lag_id }}
{%  endif %}
{%  if interface.role is defined %}
    role: {{ interface.role }}
{%  endif %}
{% endfor %}
{# LOOPBACKS #}
{% for loopback in host.data.loopbacks %}
  {{ loopback.interface }}:
    address: {{ loopback.ip }}/32
    desc: {{ loopback.desc }}
    role: loopback
{% endfor %}
{# MULTICAST #}
pim:
  rps:
    {{ fabric.routing.pim.rp }}:
      group: {{ fabric.routing.pim.group }}
{% if host.data.role == "spine" %}
      anycast:
{%  for ip in host.data.anycast_rps %}
        - {{ ip }}
{%  endfor %}
{% endif %}
{# UNDERLAY ROUTING #}
router:
  ospf:
    process: {{ fabric.routing.ospf.process }}
    area: {{ fabric.routing.ospf.area }}
  bgp:
    asn: {{ fabric.routing.bgp.asn }}
    fabric:
      afi_safis:
        - "l2vpn evpn"
    neighbors:
{% for ip in host.data.neighbors %}
      {{ ip }}:
{% endfor %}
{# VRFS #}
vrfs:
{% for vrf, v in host.data.vrfs.items() %}
  {{ vrf }}:
{%  if v.routes is defined %}
    routes:
{%    for route, nh in v.routes.items() %}
      {{ route }}:
{%     for hop in nh.next_hops %}
        {{ hop }} 
{%     endfor %}
{%    endfor %}
{%  endif %}
{%  if v.vni is defined %}
    vni: {{ v.vni }}
{%  endif %}
{% endfor %}
{% if host.data.role == "leaf" %}
{# VLANS #}
vlans:
{%  for vlan, value in host.data.vlans.items() %}
  {{ vlan }}:
    name: {{ value.name }}
{%   if value.vni is defined %}
    vni: {{ value.vni }}
{%   endif %}
{%   if value.vrf is defined %}
    vrf: {{ value.vrf }}
{%   endif %}
{%   if value.address is defined %}
    address: {{ value.address }}
{%   endif %}
{%   if value.group is defined %}
    group: {{ value.group }}
{%   endif %}
{%   if value.mgroup is defined %}
    mgroup: {{ value.mgroup }}
{%   endif %}
{%   if value.l3_overlay is defined %}
    l3_overlay: {{ value.l3_overlay }}
{%   endif %}
{%  endfor %}
{% endif %}
{% if host.data.vlans is defined %}
{# EVPN OVERLAY #}
evpn:
  vni:
{%  for vlan, value in host.data.vlans.items() %}
{%   if (value.vni is defined) and (value.l3_overlay is not defined) %}
    {{ value.vni }}:
{%   endif %}
{%  endfor %}
{% endif %}
