service routing protocols model multi-agent
!
hostname {{ vars.hostname }}
!
spanning-tree mode mstp
!
aaa authorization exec default local
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$GbHCUVJZYo.EodrU$nlBY9kpP5sH1NovHXn8ut8pNOS49C4Ju1E0XxABRLxNjSZ8pdoRa4dr14f/OUFaqDiw.YalLlWAic6.hg8NG8/
! 
{# VLANS #}
{% if host.role == "leaf" %}
{%  for vlan, v in vars.vlans.items() %}
vlan {{ vlan }}
  name {{ v.name }}
{%   if v.group is defined %}
  trunk group {{ v.group }}
{%   endif %}
!
{%  endfor %}
{% endif %}
! 
{# VRFS #}
{% for vrf, v in vars.vrfs.items() %}
vrf instance {{ vrf }}
{% endfor %}
! 
{# INTERFACES #}
{% for intf, v in vars.interfaces.items() %}
interface {{ intf }}
{%  if v.role == "overlay" %}
{%   if v.vlan is defined and v.vlan != "all" %}
 switchport mode access
 switchport access vlan {{ v.vlan }}
{%   elif v.vlan is defined and v.vlan == "all" %}
 switchport mode trunk
 switchport trunk group clients
{%   endif %}
{%   if v.lag is defined %}
 channel-group {{ v.lag }} mode on
{%   endif %}
{%   if v.mlag is defined %}
 mlag {{ v.mlag }}
{%   endif %}
{%  endif %}
{%  if v.role == "peerlink" %}
 switchport mode trunk
 switchport trunk group MLAG_PEER
 switchport trunk group MLAG_L3
 switchport trunk group clients
 spanning-tree link-type point-to-point
{%  endif %}
{%  if v.role == "underlay" %}
 no switchport
 ip address {{ v.address }}
{%  endif %}
{%  if "loopback" in intf %}
 ip address {{ v.address }}
{%  endif %}
!
{% endfor %}
! 
{# MGMT INTERFACE #}
interface Management1
 vrf management
 ip address {{ host.hostname }}/24
!
{# VLAN INTERFACES #}
{% if host.role == "leaf" %}
{%  for vlan, v in vars.vlans.items() %}
interface vlan {{ vlan }}
 {%  if v.vrf is defined %}
 vrf {{ v.vrf }}
 {%  endif %}
 ip address {{ v.address }}
!
{%  endfor %}
{% endif %}
!
{# VXLAN INTERFACE #}
{% if host.role == "leaf" %}
interface Vxlan1
 vxlan source-interface Loopback1
 vxlan udp-port 4789
{%  for vlan, v in vars.vlans.items() %}
{%   if v.group != "MLAG_PEER" and v.group != "MLAG_L3" %}
 vxlan vlan {{ vlan }} vni {{ v.vni }}
{%   endif %}
{%  endfor %}
{%  for vrf, v in vars.vrfs.items() %}
{%   if vrf != "management" %}
 vxlan vrf {{ vrf }} vni {{ v.vni }}
{%   endif %}
{%  endfor %}
 vxlan learn-restrict any
{% endif %}
!
ip virtual-router mac-address c0:01:ca:fe:ba:be
!
ip routing
{% for vrf, v in vars.vrfs.items() %}
ip routing vrf {{ vrf }}
{% endfor %}
!
{% for route, nh in vars.vrfs.management['routes'].items() %}
ip route vrf management {{ route }} {{ nh }}
{% endfor %}
!
{% if host.role == "leaf" %}
mlag configuration
 domain-id {{ vars.mlag.domain }}
 local-interface Vlan4094
 peer-address {{ vars.mlag.peer_ip }}
 peer-link Port-Channel1000
{% endif %}
!
{# BGP #}
{% if host.role == "leaf" %}
{%  set group = "SPINE" %}
{% endif %}
{% if host.role == "spine" %}
{%  set group = "LEAF" %}
{% endif %}
router bgp {{ vars.router.bgp.asn }}
   neighbor {{ group }} peer group
   neighbor {{ group }} remote-as {{ vars.router.bgp.asn }}
   neighbor {{ group }} update-source Loopback0
   neighbor {{ group }} send-community
{% if host.role == "spine" %}
   neighbor {{ group }} route-reflector-client
{% endif %}
   neighbor {{ group }} maximum-routes 12000
{%  for n in vars.router.bgp.neighbors %}
   neighbor {{ n }} peer group {{ group }}
{%  endfor %}
   !
{% if host.role == "leaf" %}
{%  for vlan, v in vars.vlans.items() %}
{%-   if v.group != "MLAG_PEER" and v.group != "MLAG_L3" %}
   vlan {{ vlan }}
      rd 65000:10{{ vlan }}
      route-target both {{ vlan }}:10{{ vlan }}
      redistribute learned
   !
{%    endif %}
{%-  endfor %}
{%- endif %}
   address-family evpn
      neighbor {{ group }} activate
!
{# OSPF #}
router ospf {{ vars.router.ospf.process }}
   router-id {{ vars.router_id }}
   network 10.0.0.0/8 area 0.0.0.0
   max-lsa 12000
!
management api http-commands
   no shutdown
   !
   vrf management
      no shutdown
end